<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2> Listagem </h2>
    {% for trans in transacoes %}
    <li><a href="{% url 'url_update' trans.id %}">{{ trans.descricao }} - {{ trans.valor }} - {{ trans.categoria }}</a></li>
    {% endfor %}
    <a href="{% url 'url_nova' %}"><button type=button>Novo</button></a>
</body>
</html>